<h2 mat-dialog-title>{{data.title|transloco}}</h2>

<mat-dialog-content>{{data.text|transloco}}</mat-dialog-content>

<mat-dialog-actions>
  <button matButton (click)="cancel.emit()" >{{'No'|transloco}}</button>
  <button matButton (click)="confirm.emit()" cdkFocusInitial [showProgress]="loading()" [disabled]="loading()">
    {{'Yes'|transloco}}
    <mat-progress-spinner progressIndicator mode="indeterminate" diameter="20" aria-label="Loading" tabindex=""></mat-progress-spinner>
  </button>
</mat-dialog-actions>