:host {
  display: block;
  width: 100%;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }

  .form-actions {
    display: flex;
    gap: 10px;
  }
}