<mat-toolbar>
  <mat-toolbar-row>

    <button matButton="text" class="create-button" (click)="onCreateButtonClick()">
      <span>{{'Create'|transloco}}</span>
      <mat-icon>add</mat-icon>
    </button>

    <button matIconButton class="reload-button" (click)="onReloadButtonClick()" [disabled]="isLoading() || dataCount() === 0" [matTooltip]="'Refresh'|transloco">
      <mat-icon>refresh</mat-icon>
    </button>

    <button matIconButton class="delete-button" (click)="onDeleteButtonClick()" [disabled]="!selectionCount()" [matTooltip]="'Delete'|transloco">
      <mat-icon>delete</mat-icon>
    </button>

    @if (selectionCount() === 1) {
    <button matIconButton class="open-detail-button" (click)="onOpenDetailButtonClick()" [matTooltip]="'Open'|transloco">
      <mat-icon>open_in_new</mat-icon>
    </button>
    }

  </mat-toolbar-row>
</mat-toolbar>