@use '@angular/material' as mat;

:host {
  display: block;
  width: 100%;
}

mat-toolbar {
  min-height: 50px;
  height: 50px;

  mat-toolbar-row {
    height: 100%;
    padding-left: 0px;

    mat-icon {
      color: var(--mat-sys-primary);
    }
  }

  .create-button {
    color: var(--mat-sys-primary);

    span {
      display: inline-block;
      margin-top: 1px;
    }
    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin-right: 2px;
    }
  }
}