<form (submit)="submit($event)" novalidate>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput [formField]="todoForm.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select [formField]="todoForm.priority">
      @for (priority of priorities; track priority.key) {
      <mat-option [value]="priority.value">{{priority.key}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div>
    <button matButton="text" type="button" [disabled]="isCreating()" (click)="return()">{{'Cancel'|transloco}}</button>

    <button matButton="filled" type="submit" [disabled]="todoForm().invalid() || isCreating()" [showProgress]="isCreating()">
      {{'Create'|transloco}}
      <mat-progress-spinner progressIndicator mode="indeterminate" diameter="20" aria-label="Loading" tabindex=""></mat-progress-spinner>
    </button>
  </div>

</form>